@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
 font-family: "Comfortaa", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
margin: 0;
padding: 0; 


 
}

.main_title{
    display: flex;
    background-color: rgb(26, 26, 30);
    color: aliceblue;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 115px;
}
.main_title h2{
        flex: 1;
       text-align: center;
       
}
img{
      max-width: 100%;
       
}
.img_box{
    width: 100px;
    margin-left: 2%;
    
}
.data{
   margin: auto;
 width: 700px;
 /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.data{
  
  width: 700px;
  border-width: 3px;  
  border-style: solid;
  border-color: rgb(163, 163, 163);
  border-radius: 10px;
  
  padding: 10px;
  margin-top: 3%;
   position: relative;
}
.m_title{
position: absolute;
  top: -15px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  margin: 0;
  font-weight: bold;
}

.ran{
   display: inline;
}
.t{
  padding-left: 180px;
}

.bt{
  background-color: rgb(26, 26, 30);
  color:aliceblue;
  margin: 10px;
  padding: 5px 10px 5px 10px;

}
.m_bt{
 
  padding-left: 500px;

}