body
{
    height: 200vh; 
    margin: 0;
background-image: linear-gradient(rgb(0, 174, 255), rgb(0, 0, 121));

}
h1
{
  color: bisque;  
  font-family:'Comic Sans MS';
  margin-left: 75px;
}

hr
{
    width: 850px;
    background-color: rgb(255, 255, 255);
     margin-left: 60px;
}
.image{
width: 350px;
height: 500px;
margin-left: 250px;
border-radius: 10px;

border-style: solid;
border-width: 2px; 
border-color: black;

}
.div1
{
  margin-top: 50px;
  color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 150px;
  background-color: rgb(112, 112, 255);
  width: 400px;
  height: 50px;
  transform: skew(20deg);
  border-radius: 20%;
  border-style: solid;
border-width: 0.5px; 
border-color: black;
}

.div2

{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 250px;
   margin-top: 50px;
  background-color: rgb(0, 183, 255);
  width: 700px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  50% 0% 70% 0%;
  border-style: solid;
border-width: 1px; 
border-color: rgb(44, 138, 137);
}

.div3
{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 150px;
   margin-top: 50px;
  background-color: rgb(4, 22, 29);
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  25% 35% 70% 15%;
  border-style: solid;
border-width: 2px; 
border-color: rgb(119, 111, 200);
}

.div4
{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 250px;
   margin-top: 50px;
  background-color: rgb(0, 193, 161);
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  10% 90% 0% 0%;
  border-style: solid;
border-width: 4px; 
border-color: rgb(0, 63, 52);
}

.div5
{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 150px;
   margin-top: 50px;
  background-color: rgb(115, 0, 255);
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  100% 100% 100% 100%;
  border-style: solid;
border-width: 2px; 
border-color: rgb(21, 0, 255);
}

.div6
{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 350px;
  margin-top: 50px;
  background-color: rgb(70, 57, 86);
  width: 540px;
  height: 120px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  45% 90% 4% 12%;
  border-style: solid;
border-width: 5px; 
border-color: rgb(101, 131, 158);
}

.div7
{
 color: rgb(255, 255, 255);  
  font-family:'Comic Sans MS';
  margin-left: 150px;
   margin-top: 50px;
  background-color: rgb(237, 154, 255);
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  border-radius:  30% 30% 30% 10%;
  border-style: solid;
border-width: 2px; 
border-color: rgb(0, 255, 179);
}